<body>
  <script src="https://cdn.jsdelivr.net/npm/markdown-element/dist/markdown-element.min.js"></script>
  <mark-down>
    ## h2

    * test
      * test2

    ```javascript
    let x = 'asdf'

    class Text {
      constructor() {

      }
    }
    ```
  </mark-down>
</body>
---
title: Help homepage
layout: home
---
<div class="panel main">
    <div class="panel left">
        {% include sidebar/main.html selected=page.slug %}
    </div>
    <div class="panel middle">
        <div class="grid grid-responsive-12">
            {% include breadcrumbs/default.html slug=page.slug %}
            {% include cards/section-cards.html slug="discover" %}
            {% include cards/section-cards.html slug="start" %}
            {% include cards/section-cards.html slug="basics" %}
            {% include cards/section-cards.html slug="hosting" %}
            {% include cards/section-cards.html slug="configure" %}
            {% include cards/section-cards.html slug="extend" %}
            {% include cards/section-cards.html slug="contribute" %}
            {% include cards/section-cards.html slug="legal" %}
        </div>
    </div>
</div>
